* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Banner styles for mobile screens */
#banner-mobile {
  display: block;
  width: 100%;
}
#banner-tablet {
  display: none;
}
#banner-desktop {
  display: none;
}

/* Banner styles for tablet screens */
@media only screen and (min-width: 600px) {
  #banner-mobile {
    display: none;
  }
  #banner-tablet {
    display: block;
    width: 100%;
  }
  #banner-desktop {
    display: none;
  }
}

/* Banner styles for desktop screens */
@media only screen and (min-width: 1025px) {
  #banner-mobile {
    display: none;
  }
  #banner-tablet {
    display: none;
  }
  #banner-desktop {
    display: block;
    width: 100%;
  }
}

/* Hero section title and subtitle */
#hero-headers {
  text-align: center;
  margin: 30px;
}

#hero-headers h1 {
  margin: 5px;
  color: rgb(15, 116, 47);
  font-weight: 900;
  font-size: 30px;
}

#hero-headers h4 {
  margin: 5px;
  font-weight: 600;
  font-size: 20px;
}

/* Hero section icons */
#hero-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 20px;
}
.icon-card img {
  width: 100px;
}

/* Hero section CTA button */
.cta-button-wrapper {
  text-align: center;
}

#cta-button {
  background-color: rgb(15, 116, 47);
  color: white;
  text-align: center;
  width: 200px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 900;
  border: none;
}

/* About section */
#about {
  padding: 50px 30px;
  font-size: 16px;
}

/* About section title and subtitle */
#about-headers {
  text-align: center;
}

#about-headers h3 {
  font-size: 24px;
  margin: 5px;
}

#about-headers h4 {
  font-size: 18px;
  margin: 5px;
}
