/*  ----- Global Styles ----- */
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/* ----- Hero Section ----- */

#hero-section {
  margin-bottom: 30px;
}

/*  Banner styles for mobile screens  */
#banner-mobile {
  display: block;
  width: 100%;
}

#banner-tablet,
#banner-desktop {
  display: none;
}

/*  Hero Section Headers  */
#hero-headers {
  text-align: center;
  margin: 30px;
}

#hero-headers h1 {
  margin: 5px;
  color: rgb(15, 116, 47);
  font-weight: 900;
  font-size: 30px;
}

#hero-headers h4 {
  margin: 5px;
  font-weight: 600;
  font-size: 20px;
}

/*  Hero Section Icons  */
#hero-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 20px;
  text-align: center;
}

.icon-card img {
  width: 100px;
}

/*  Hero Section CTA Button  */
.cta-button-wrapper {
  text-align: center;
}

#cta-button {
  background-color: rgb(15, 116, 47);
  color: white;
  text-align: center;
  width: 200px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  position: relative;
}

#cta-button:hover {
  color: rgb(15, 116, 47);
  outline: 2px solid rgb(15, 116, 47);
  cursor: pointer;
}

#cta-button:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  content: "Inquire Now";
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* text and styles are hidden initially on pseudo-element */
  transition: all 0.35s; /* pseudo-element styles will fade in */
}

#cta-button:hover:after {
  width: 100%;
  opacity: 1; /* pseudo-element is now visible on hover */
}

#cta-button:active {
  transform: scale(
    0.98
  ); /* Scaling button to 0.98 to its original size when clicked */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); /* Lowering the shadow */
}

/*  ----- About Section ----- */

#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  margin-bottom: 30px;
}

#about-wrapper {
  padding: 10px 30px;
}

#about-headers {
  text-align: center;
}

#about-headers h3 {
  font-size: 24px;
  margin: 5px;
}

#about-headers h4 {
  font-size: 18px;
  margin: 5px;
}

#about-section p {
  padding: 10px;
}

/*  ----- Contact Section ----- */

#contact-section {
  margin-bottom: 30px;
}

/*  Contact Section Headers  */
#contact-section h3 {
  font-size: 24px;
  text-align: center;
}

/*  Contact Form for Mobile Screen  */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 16px;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 0px 30px;
}

/*  Form Textboxes  */
form input,
textarea {
  font-size: 16px;
  padding: 5px;
}

/*  Form Submit Button  */
#submit-button-wrapper {
  text-align: center;
}

form button {
  background-color: rgb(15, 116, 47);
  color: white;
  text-align: center;
  width: 200px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 900;
  border: none;
}

/* ----- Media Queries ----- */

/*  --- Tablet Screen Styling --- */
@media only screen and (min-width: 600px) {
  /*  Hero Section  */
  #banner-mobile,
  #banner-desktop {
    display: none;
  }

  #banner-tablet {
    display: block;
    width: 100%;
  }

  #hero-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
  }

  /*  About Section  */
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-wrapper {
    max-width: 700px;
  }

  /*  Contact Section  */
  #contact-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: 16px;
    max-width: 700px;
  }

  .form-fields {
    padding: 10px;
  }

  #additional-comments-wrapper {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #submit-button-wrapper {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*  --- Desktop Screen Styling --- */
@media only screen and (min-width: 1025px) {
  /*  Hero Section  */
  #banner-mobile,
  #banner-tablet {
    display: none;
  }

  #banner-desktop {
    display: block;
    width: 100%;
  }

  #hero-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
  }

  /*  About Section  */
  #about-wrapper {
    max-width: 800px;
  }

  /*  Contact Section - same as tablet  */
}
